@import "../../App.scss";

.user-pages-layout {
  padding: 40px;
  display: flex;
  background-color: $bgGrey;
  .content {
    flex: 1;
    margin-left: 40px;
    overflow: auto;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  .profile-section {
    display: flex;
    align-items: center;
  }
}

.stats-card-container {
  display: flex;
  .stats-card {
    flex: 1;
    margin-right: 35px;
  }
  .stats-card:last-child {
    margin-right: 0;
  }
}
