@import "../../App.scss";

.profile-box-layout {
  display: flex;
  .left-prof {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;

    input[type="file"] {
      opacity: 0;
      z-index: -1;
      position: absolute;
    }
  }

  .right-prof {
    display: flex;
    flex-direction: column;
  }

  label.change-btn {
    font-size: 10px;
    color: $secondary;
    background-color: $white;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid $secondary;
    outline: none;
    border-radius: 5px;
  }
}

@media (max-width: $f-vp) {
  .profile-box-layout {
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .left-prof {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: $e-vp) {
  .profile-box-layout {
    .right-prof {
      width: 100%;

      .name-fields {
        .fname-field,
        .field-wrapper {
          flex: 1;
        }
      }
    }
  }
}

@media (max-width: $b-vp) {
  .profile-box-layout {
    .right-prof {
      .name-fields {
        flex-direction: column;
        .fname-field {
          margin: 0;
        }
      }
    }
  }
}
