@import "../../App.scss";

.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  .topbar-profile-section {
    display: flex;
    align-items: center;

    .topbar-search {
      margin-right: 30px;
    }

    .topbar-profile-right {
      display: flex;
      align-items: center;

      .topbar-notify-icon {
        margin-right: 20px;
      }

      .topbar-profile-pic {
        cursor: pointer;
        border: none;
        border: 3px solid transparent;
        outline: none;
        background: transparent;
        border-radius: 50%;
        font-family: $fontMontserrat;
        transition: 0.1s all ease-in-out;

        &:hover {
          border: 3px solid $lightGrey;
        }
      }
    }
  }
}

@media (max-width: $e-vp) {
  .topbar {
    flex-direction: column;

    .topbar-screen-name {
      margin-bottom: 10px;
    }

    .topbar-profile-section {
      display: flex;
      justify-content: space-between;

      .topbar-profile-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .topbar-notify-icon {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: $b-vp) {
  .topbar {
    .topbar-profile-section {
      .topbar-search {
        width: 80%;
        margin-right: 10px;
      }

      .topbar-notify-icon {
        display: none;
      }
    }
  }
}
