@import "../../App.scss";

.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .topbar-profile-section {
    display: flex;
    align-items: center;

    .topbar-search {
      margin-right: 30px;
    }

    .topbar-notify-icon {
      margin-right: 20px;
    }

    .topbar-profile-pic {
      cursor: pointer;
      border: none;
      border: 3px solid transparent;
      outline: none;
      background: transparent;
      border-radius: 50%;
      position: relative;
      font-family: $fontMontserrat;
      transition: 0.1s all ease-in-out;

      &:hover {
        border: 3px solid $lightGrey;
      }
    }
  }
}
