@import "../../App.scss";

.input {
  border-radius: 10px;
  background-color: $darkGrey;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-family: $fontLato;
  font-size: 16px;
}

.input-suffix-icon {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;

  input {
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 15px;
    flex: 1;
    border: none;
    outline: none;
    background: $darkGrey;
    font-family: $fontLato;
  }

  .icon-container {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    right: 15px;
  }
}
