@import "../../App.scss";

.input {
  border-radius: 10px;
  background-color: $darkGrey;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
}

.icon-container {
  height: 15px;
  width: 15px;
  background-color: red;
}
