@import "../../App.scss";

.sidebar-container {
  width: 280px;
  border-radius: 30px;
  padding: 60px 50px;
  background-color: $primary;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    .app-name {
      color: $white;
      margin-bottom: 60px;
    }
    .screen-name {
      color: $white;
      margin-bottom: 30px;
      &.selected {
        font-weight: bold;
      }
    }

    .bottom {
      .help {
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        color: $white;
      }
    }
  }
}
