@import "../../App.scss";

.sidebar-container {
  border-radius: 30px;
  background-color: $primary;
  width: 280px;
  position: fixed;
  left: 40px;
  top: 40px;
  bottom: 40px;
  padding: 60px 50px;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    .screen-link {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      .screen-icon {
        margin-right: 15px;
      }
    }

    .app-name {
      color: $white;
      margin-bottom: 60px;
    }
    .screen-name {
      color: $white;
      &.selected {
        font-weight: bold;
      }
    }

    .bottom {
      .help {
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: $white;
      }
    }
  }
}

@media (max-width: $d-vp) {
  .sidebar-container {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    padding: 20px 20px;
    display: flex;
    max-height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.25);

    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .app-name,
      .screen-name {
        display: none;
      }

      .screen-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        border-radius: 50%;
        padding: 10px;
        background-color: transparent;

        .screen-icon {
          margin: 0;
          margin: 0 auto;
        }

        &.selected {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }

    .bottom {
      display: none;
    }
  }
}
