@import "../../App.scss";

.dashboard-box {
  &.schedule {
    flex: 1;

    .schedule-box-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .see-all-schedule {
        font-size: 12px;
        a {
          color: $secondary;
        }
      }
    }
  }
}
