@import "../../App.scss";

.schedule-box {
  padding: 30px 40px;
  background-color: $white;
  border-radius: 20px;

  .schedule-box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .see-all-schedule {
      font-size: 12px;
      a {
        color: $secondary;
      }
    }
  }
}
