@import "../../App.scss";

.dashboard-box {
  &.schedule {
    flex: 1;

    .schedule-box-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .see-all-schedule {
        font-size: 12px;
        a {
          color: $secondary;
        }
      }

      @media (max-width: $b-vp) {
        flex-direction: column;
        align-items: flex-start;

        .see-all-schedule {
          margin-top: 10px;
        }
      }
    }
  }
}
