@import "../../App.scss";

.stats-card {
  min-width: calc(25% - 40px);
  margin-bottom: 40px;
  padding: 20px 26px;
  border-radius: 20px;

  @media (max-width: $f-vp) {
    min-width: calc(50% - 20px);
  }

  @media (max-width: $e-vp) {
    min-width: 100%;
  }

  &.peach {
    background-color: $peach;
  }

  &.light-blue {
    background-color: $lightBlue;
  }

  &.light-pink {
    background-color: $lightPink;
  }

  &.light-purple {
    background-color: $lightPurple;
  }

  .stats-icon-container {
    display: flex;
    justify-content: flex-end;
  }

  .stats-value {
    display: flex;
    flex-direction: column;

    p {
      font-size: 14px;
      margin-bottom: 5px;
      font-family: $fontLato;
    }

    h2 {
      font-family: $fontMontserrat;
      font-size: 24px;
    }
  }
}
