@import "../../App.scss";

.user-records-container {
  border-radius: 20px;
  padding: 50px;
  background-color: $white;
  overflow: auto;

  .table-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    p {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .table-container {
    margin-bottom: 10px;
  }

  .pagination-controls {
    display: flex;
    justify-content: flex-end;

    .ctrl-btn {
      cursor: pointer;
      border: 1px solid #eaeaea;
      border-radius: 10px;
      padding: 9px;
      margin-right: 5px;
    }
  }
}
