@import "../../App.scss";

.user-records-container {
  border-radius: 20px;
  padding: 50px;
  background-color: $white;
  overflow: auto;

  .table-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    p.table-header {
      font-weight: bold;
      font-size: 18px;
    }

    .table-options-right {
      display: flex;
      align-items: center;

      .table-options-filter {
        position: relative;

        button {
          margin: 0 20px;
          padding: 7px;
          outline: none;
          cursor: pointer;
          font-size: 14px;
          font-family: $fontLato;
          display: flex;
          align-items: center;
          border-radius: 10px;
          background: $white;
          border: 1px solid $lightGrey;

          &.active {
            background: $bgGrey;
          }
        }

        img {
          margin-right: 5px;
        }

        .filter-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: absolute;
          min-width: 100px;
          top: 40px;
          right: 5px;
          background-color: $white;
          border-radius: 10px;
          padding: 10px;
          z-index: 50;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

          label {
            font-size: 14px;
            cursor: pointer;
            display: flex;
            align-items: center;
            input {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .table-container {
    margin-bottom: 10px;

    .no-records {
      text-align: center;
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: flex-end;

    .ctrl-btn {
      cursor: pointer;
      border: 1px solid $darkGrey;
      border-radius: 10px;
      padding: 9px;
      margin-right: 5px;

      &.active {
        border: 1px solid $secondary;
      }
    }
  }

  @media (max-width: $f-vp) {
    .pagination-controls,
    .table-container,
    .table-options {
      width: 680px;
      padding-right: 20px;
    }
  }
}
