@import "../../App.scss";

.user-records-container {
  border-radius: 20px;
  padding: 50px;
  background-color: $white;
  overflow: auto;

  .table-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    p.table-header {
      font-weight: bold;
      font-size: 18px;
    }

    .table-options-right {
      display: flex;
      align-items: center;

      button.table-options-filter {
        margin: 0 20px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        border: 1px solid $lightGrey;
        border-radius: 10px;
        padding: 7px;
        background: $white;
        font-size: 14px;
        font-family: $fontLato;
        cursor: pointer;

        img {
          margin-right: 5px;
        }
      }
    }
  }

  .table-container {
    margin-bottom: 10px;
  }

  .pagination-controls {
    display: flex;
    justify-content: flex-end;

    .ctrl-btn {
      cursor: pointer;
      border: 1px solid $darkGrey;
      border-radius: 10px;
      padding: 9px;
      margin-right: 5px;

      &.active {
        border: 1px solid $secondary;
      }
    }
  }
}
